<script>
'use strict';
$(() => {

  const kataId = "<%= @manifest['id'] %>";

  $('.ok.button').click(() => {
    window.open(`/kata/edit/${kataId}`);
    window.location.href = '/home/index';
  });

});
</script>

<div id="avatar-page">
<img src="/avatars/image/<%= @index %>" class="large avatar"/><br/>
Avatar <%= @manifest['id'] %><br/>
Name=<%= @name %><br/>
<div class="ok button">ok</div>
</div>
