<script>
'use strict';
$(() => {

  const kataId = "<%= @manifest['id'] %>";

  $('.ok.button').click(() => {
    window.open(`/kata/edit/${kataId}`);
    window.location.href = '/home/index';
  });

});
</script>

<div id="avatar-page">
Avatar <%= @manifest['id'] %>
Name=<%= @name %>

<img src="/avatar/image/<%= @index %>"
     class="large avatar"/>

<div class="ok button">ok</div>
</div>
