
@import "colour";
@import "fonts";
@import "rounded-corner";
@import "edged-panel";
@import "button";
@import "body";
@import "centered";

$heading-height: 195px;
$controls-height: 140px;
$top-window-height: 350px;

#home-page
{
  .heading, .controls
  {
    @include centered();
    width: 100%;
    position: fixed;
    background: $darker-color;
    z-index: 999;
    padding: { top: 0px; bottom: 0px; }
  }

  .heading
  {
    top: 0px;
    height: $heading-height;
  }

  .controls
  {
    top: $heading-height;
    height: $controls-height;
  }

  .heading
  {
    .logo
    {
      @include centered();
      img
      {
          width: 75px;
         height: 75px;
        padding: { top: 16px; left: 5px; right: 8px; }
      }
      .cyber-dojo
      {
        @include non-code-font();
        font-size: 7.40em;
            color: $text-color;
      }
    }

    .the-place-to-practise-programming
    {
      @include non-code-font();
      font-size: 2.75em;
          color: lighten($text-color, 5%);
       position: relative;
            top: -9px;
    }
  }

  //------------------------------------------

  .individual, .group, .id-input
  {
    @include centered();
    @include edged-panel();
    .blurb
    {
      @include non-code-font();
      font-size: 18px;
      margin-left: 9px;
      padding-right: 5px;
      text-align: left;
    }
  }

  .id-input
  {
    vertical-align: top;
    height: 122px;
    margin: { left:5px; right:5px; }
  }

  //------------------------------------------

  .license, .pies, .sponsors, .money, .foundation, .technology
  {
    @include centered();
    @include plaintext-font();
    font-size: 1.2em;
    margin: { top: 25px; bottom: 25px; }
  }

  //------------------------------------------

  .license
  {
    @include rounded-corner(5px);
    border: 1px solid darken(gray,20%);

    max-width: 569px;
    background: lighten($darker-color, 6%);
    margin: { top:$top-window-height; bottom:15px; }
    padding: { top:25px; bottom:25px; }
  }

  //------------------------------------------

  .pies
  {
    img
    {
      @include rounded-corner();
       width: 570px;
      height: 333px;
      filter: grayscale(100%);
    }
  }

  //------------------------------------------

  .foundation
  {
    @include rounded-corner(5px);
    border: 1px solid darken(gray,20%);

    max-width: 569px;
    background: lighten($darker-color, 6%);
    padding: { top:25px; bottom:25px; }
    img.trustee
    {
      @include rounded-corner(10px);
        width: 100px;
       height: 100px;
       margin: { top: 15px; left: 2px; right: 2px; }
       filter: grayscale(100%);
    }
    .bio
    {
      vertical-align: top;
               width: 120px;
           font-size: 12px;
          text-align: center;
             padding: { left: 5px; right: 5px; }
    }
    div, table { @include centered(); }
  }

  //------------------------------------------

  .technology
  {
    margin: { bottom: 25px; }
    img
    {
      background: lighten($darker-color, 10%);
      @include rounded-corner(6px);
       width: 74px;
      height: 74px;
      margin: { top: 0px; bottom: 0px; left: 3px; right: 3px; }
      filter: grayscale(100%);
    }
    .name { font-size: 12px; }
    div, table { @include centered(); }
  }

  //------------------------------------------

  .button
  {
    &.regular, &.custom, &.donate
    {
      @include non-code-font();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: 12px;
          margin: 7px;
    }

    &.regular, &.custom { padding: { left: 15px; right: 15px; } }
    &.regular { font-size: 16px; }
    &.custom { font-size: 12px; }

    &.donate
    {
      @include centered();
      font-size: 20px;
      width: 125px;
    }
  }

}
