
[data-cursor=pointer] { cursor:pointer; }

img.avatars
{
  width:386px;
  height:386px;
}

img.avatar
{
  &.large
  {
    @include rounded-corner(6px);
    display:inline-block;
    margin:{ right:5px; }
    width:183px;
    height:183px;
  }
  &.small
  {
    @include rounded-corner(2px);
    width:44px;
    height:44px;
    display:block;
  }
  &.grey
  {
    filter:grayscale(100%);
    opacity:0.5;
  }
  &.colour { cursor:pointer; }
}

#full-page .colour { cursor:default }
