
[data-cursor=pointer] { cursor: pointer; }

img.avatars { width: 300px; height: 300px; }

img.avatar
{
  &.large
  {
    @include rounded-corner(6px);
    display: inline-block;
      width: 219px;
     height: 219px;
     margin: { right: 5px; }
  }
  &.small
  {
    @include rounded-corner(2px);
      width: 45px;
     height: 45px;
    display: block;
  }
  &.colour
  {
    cursor: pointer;
  }
  &.grey
  {
    filter: grayscale(100%);
    opacity: 0.15;
  }
}

#group-full .colour { cursor:default }
