
.button
{
  @include non-code-font();
  display: table;
  color:$darker-color;
  text-align:left;
  line-height:95%;
  padding:9px;
  margin:7px;

  &.regular, &.custom
  {
    width:288px;
    padding: { left:15px; right:15px; }
  }
  &.regular { font-size:32px; }
  &.custom { font-size:23px; }

  &.donate
  {
    @include centered();
    @include non-code-font();
    font-size:20px;
    width:125px;
  }

  &.join, &.rejoin, &.dashboard
  {
    @include centered();
    width:190px;
  }
  &.join { font-size:32px; }
  &.rejoin, &.dashboard { font-size:16px;  }
  &.ok { font-size:23px; }
}

.enter-id .ok.button
{
  font-size:23px;
  padding:8px;
  position:relative;
  top:9px;
}

#avatar-page, #individual-page, #full-page, #rejoin-page
{
  @include non-code-font();
}

#avatar-page, #individual-page
{
  .blurb { font-size:27px; }
  .avatar-name { font-size:60px; }
  .ok.button
  {
    @include centered();
    font-size:40px;
  }
}

#full-page
{
  .blurb { font-size:27px; }
  .ok.button
  {
    @include centered();
    font-size:40px;
  }
}

#rejoin-page .blurb { font-size:27px; }
