
#enter-page
{
  @include non-code-font();

  .enter-id
  {
    margin: { left:5px; right:5px; }
    input
    {
      @include non-code-font();
      @include centered();
      @include rounded-corner(6px);
      margin: { top:20px; bottom:10px; }
      font-size:50px;
      width:266px;
      padding-left:10px;
      background:lighten($green, 20%);
      color:$darker-color;
      &.invalid { color:darken($red, 10%); }
    }
  }
  .wait-spinner
  {
    display:none;
    position:absolute;
         top:97px;
        left:782px;
       width:60px;
      height:60px;
  }
  .phonetic-id { font-size:40px; }

}
