
table#background
{
  th, td { padding:0; }
  padding:0px; margin:0px;
  border-collapse: collapse;
  position:absolute;top:-15px;left:0px;
  z-index:-1;
  img
  {
    width:630px;
    height:630px;
    opacity:0.2;
    filter: grayscale(100%);
  }
}

#home-page
{
  margin-top: 0px;
  @include non-code-font();

  .box
  {
    @include centered();
    width: 700px;
  }

  .heading, .create, .enter-id, .questions
  {
    @include edged-panel();
    background: lighten($darker-color, 10%);
    margin: { top:5px; bottom:5px; }
  }

  .heading
  {
    margin: { top:15px; bottom:7px; }
    height:170px;
    width:635px;
    position:relative; left:25px;
    display:block;
    .logo
    {
      @include centered();
      img
      {
          width:140px;
         height:140px;
        padding: { top:10px; left:0px; right:8px; }
      }
      .cyber-dojo
      {
        font-size:100px;
        position:relative;
        top:-17px;
        color:$text-color;
      }
    }

    .a-place-to-practise-programming
    {
      font-size:34px;
      position:relative;
      top:-48px;
      left:65px;
      color:lighten($text-color, 5%);
    }
  }

  //------------------------------------------

  .create, .enter-id { vertical-align:top; }

  .create
  {
    margin: { left:0px; right:5px; }
    padding: { top:13px; right:7px; bottom: 7px; left:7px; }
  }
  .enter-id
  {
    margin: { left:5px; right:0px; }
    padding: { left:10px; right:10px; }
  }

  .create label
  {
    @include plaintext-font();
    font-size: 18px;
  }

  .enter-id
  {
    width: 260px;
    height: 146px;
    margin: { left:5px; right:5px; }
    input
    {
      @include centered();
      @include non-code-font();
      @include rounded-corner(6px);
      background: lighten($green, 20%);
      color: $darker-color;
      width: 185px;
      font-size: 36px;
      margin: { left: 3px; bottom:4px; }
      padding-left: 5px;
      text-align: left;
      position: relative; top: 10px;
      &.invalid { color: darken($red, 10%); }
    }
    .blurb
    {
      font-size: 18px;
      text-align: center;
      margin: { left:11px; right:11px; top:7px; }
    }
  }

  .blurb
  {
    @include plaintext-font();
    margin: { left:9px; top:5px; }
    text-align: left;
  }

  //------------------------------------------

  form#donate
  {
    display:inline;
    position:relative;
    top:3px;
    cursor:pointer;
    input[type=image] { width:52px; height:15px; }
  }

  //------------------------------------------

  .questions
  {
    @include centered();
    @include plaintext-font();
    width: 603px;
    position: relative; left: -2px;
    font-size: 15px;
    padding: 20px;
    margin: { top:7px; bottom: 12px; }
    img
    {
      background: lighten($darker-color, 15%);
      @include rounded-corner(6px);
      margin: { top:0px; bottom:0px; left:3px; right:3px; }
      filter: grayscale(100%);
    }
    img.technology { width:74px; height:74px; }
    img.trustee { width:120px; height:120px; }
    .name { font-size:10px; text-align:center; }
    .bio { font-size:11px; width:120px; text-align:center; }
    table { margin: { top:12px; bottom:12px; } }
  }

  .question, .answer
  {
    font-size: 14px;
    text-align: left;
  }

  .question
  {
    &::before { content: "Q: "; font-weight: bold; }
    margin: { top:0px; bottom:8px; }
  }

  .answer
  {
    margin-left: 30px;
    padding-bottom: 13px;
    margin: { top:0px; bottom:0px; }
  }

  .divider
  {
    margin: { top:0px; bottom:13px; }
    width:600px;
    border-bottom: 1px dashed lighten($darker-color, 25%);
  }
}

.group-id, .individual-id
{
  @include non-code-font();
  font-size:90px;
}
