
#home-page
{
  @include non-code-font();

  .heading
  {
    padding: { top:5px; bottom:5px; }
    height:170px;
    .logo
    {
      img
      {
          width:140px;
         height:140px;
        padding: { top:10px; left:0px; right:8px; }
      }
      .cyber-dojo
      {
        font-size:105px;
        position:relative;
        top:-17px;
        color:$text-color;
      }
    }

    .a-place-to-practise-programming
    {
      font-size:36px;
      position:relative;
      top:-48px;
      left:140px;
      color:lighten($text-color, 5%);
    }
  }

  .create.button { margin-bottom:15px; }

  form#donate
  {
    display:inline;
    position:relative;
    top:3px;
    cursor:pointer;
    input[type=image] { width:52px; height:15px; }
  }

  //------------------------------------------

  .heading, .buttons, .questions { width:625px; }


  .buttons
  {
    .button.create, .button.enter
    {
      width:590px;
      font-size:50px;
      text-align:center;
    }
  }

  .questions
  {
    @include plaintext-font();
    font-size:15px;
    img
    {
      background:lighten($darker-color, 15%);
      @include rounded-corner(6px);
      margin: { top:0px; bottom:0px; left:3px; right:3px; }
      filter:grayscale(100%);
    }
    &.donate.button { font-size:20px; width:125px; }
    img.technology { width:74px; height:74px; }
    img.trustee { width:120px; height:120px; }
    .name { font-size:10px; text-align:center; }
    .bio { font-size:11px; width:120px; text-align:center; }
    table { margin: { top:12px; bottom:12px; } }
  }

  .question
  {
    font-size:16px;
    margin: { top:0px; bottom:10px; }
  }

  .answer
  {
    font-size:14px;
    margin-left:30px;
    padding-bottom:13px;
    margin: { top:0px; bottom:0px; }
  }

  .divider
  {
    margin: { top:0px; bottom:13px; }
    width:600px;
    border-bottom: 1px dashed lighten($darker-color, 25%);
  }
}

//------------------------------------------

#what-kind-page, #standard-or-custom-page,
#group-page, #enter-page, #avatar-page, #reenter-page, #full-page
{
  @include non-code-font();
  @include centered();
  .edged-panel { width:715px; text-align:center; }
  .title { font-size:30px; margin-bottom:10px; }
  label { @include non-code-font(); font-size:30px; }
  .group-id, .kata-id { font-size:90px; }
  .phonetic-id { font-size:26px; }
  .lhs-column { width:400px; }
  .rhs-column { width:315px; vertical-align:top; }
  .avatar-name { font-size:55px; }
  .blurb { font-size:23px; }
  .enter.button { font-size:40px; }
  .ok.button { font-size:40px; @include centered(); width:75px; }
  .next.button { font-size:40px; @include centered(); width:115px; }
}

#what-kind-page, #standard-or-custom-page, #enter-page
{
  .edged-panel { width:600px; }
}
