<table id="background">
  <tr>
    <td><img src="/avatars/image/all" ></td>
    <td><img src="/avatars/image/all" ></td>
  </tr>
  <tr>
    <td><img src="/avatars/image/all" ></td>
    <td><img src="/avatars/image/all" ></td>
  </tr>
  <tr>
    <td><img src="/avatars/image/all" ></td>
    <td><img src="/avatars/image/all" ></td>
  </tr>
</table>
