<script>
'use strict';
$(() => {

  $('.donate.button').click(event => {
    event.preventDefault();
    cd.dialog_donate().dialog('open');
  })

});
</script>

<div class="donate button">please&nbsp;donate</div>
