<script>
'use strict';
$(() => {

  const phonetic = {
    '0' : 'zero',
    '1' : 'one',
    '2' : 'two',
    '3' : 'three',
    '4' : 'four',
    '5' : 'five',
    '6' : 'six',
    '7' : 'seven',
    '8' : 'eight',
    '9' : 'nine',

    'A' : 'ALPHA',
    'B' : 'BRAVO',
    'C' : 'CHARLIE',
    'D' : 'DELTA',
    'E' : 'ECHO',
    'F' : 'FOXTROT',
    'G' : 'GOLF',
    'H' : 'HOTEL',
    'I' : 'INDIA',
    'J' : 'JULIETT',
    'K' : 'KILO',
    'L' : 'LIMA',
    'M' : 'MIKE',
    'N' : 'NOVEMBER',
    'O' : 'OSCAR',
    'P' : 'PAPPA',
    'Q' : 'QUEBEC',
    'R' : 'ROMEO',
    'S' : 'SIERRA',
    'T' : 'TANGO',
    'U' : 'UNIFORM',
    'V' : 'VICTOR',
    'W' : 'WHISKEY',
    'X' : 'XRAY',
    'Y' : 'YANKEE',
    'Z' : 'ZULU',


    'a' : 'alpha',
    'b' : 'bravo',
    'c' : 'charlie',
    'd' : 'delta',
    'e' : 'echo',
    'f' : 'foxtrot',
    'g' : 'golf',
    'h' : 'hotel',
    'i' : 'india',
    'j' : 'juliett',
    'k' : 'kilo',
    'l' : 'lima',
    'm' : 'mike',
    'n' : 'november',
    'o' : 'oscar',
    'p' : 'pappa',
    'q' : 'quebec',
    'r' : 'romeo',
    's' : 'sierra',
    't' : 'tango',
    'u' : 'uniform',
    'v' : 'victor',
    'w' : 'whiskey',
    'x' : 'xray',
    'y' : 'yankee',
    'z' : 'zulu'
  };

  const $idInput = $('input#id');
  const $waitSpinner = $('.wait-spinner');
  const $phoneticId = $('.phonetic-id');
  const $nextButton = $('.next.button');
  let id = $idInput.val();
  let idType = undefined;

  $idInput.isDisabled = () => $idInput.attr('disabled');
  $idInput.disable = () => $idInput.attr('disabled',  true);
  $idInput.enable  = () => $idInput.attr('disabled', false);

  const showPhoneticId = () => {
    let html = '';
    for (let i = 0; i < id.length; i++) {
      html += phonetic[id.charAt(i)];
      html += '<br/>';
    }
    //alert(html);
    $phoneticId.show().html(html);
  };

  const setNextButtonState = () => {
    id = $idInput.val();
    if (id.length < 6) {
      $idInput.removeClass('invalid');
      $phoneticId.hide();
      $nextButton.hide();
      return;
    }
    if (id.length > 6) {
      $idInput.addClass('invalid');
      $phoneticId.hide();
      $nextButton.hide();
      return;
    }
    $waitSpinner.fadeIn('fast', () => {
      const route = `/home/id_type?id=${encodeURIComponent(id)}`;
      $.get(route, (response) => {
        idType = response.id_type;
        $waitSpinner.fadeOut('fast', () => {
          if (idType) {
            $idInput.removeClass('invalid');
            showPhoneticId();
            $nextButton.show();
          } else {
            $idInput.addClass('invalid');
            $phoneticId.hide();
            $nextButton.hide();
          }
        });
      });
    });
  };

  const idInputChange = () => {
    if ($idInput.val() === id) {
      return;
    } else {
      setNextButtonState();
    }
  };

  $idInput.keyup(() => idInputChange()).focus();

  $nextButton.click(() => {
    const urlId = encodeURIComponent(id);
    if (idType === 'group') {
      window.location = `/home/group?id=${urlId}`;
    } else if (idType === 'individual') {
      window.location = `/home/index?id=${urlId}`;
      window.open(`/kata/edit/${urlId}`);
    }
  });

  setNextButtonState();

});
</script>

<div id="enter-page">
  <div class="edged-panel enter-id">
    <div class="title">the ID of the exercise is...</div>
    <input type="text" id="id" placeholder="??????" value="<%= @id %>"></input>
    <img src="/images/rotate-cyber-dojo.gif" class="wait-spinner">
    <div class="phonetic-id"></div>
    <div class="next button" style="display:none;">next</div>
  </div>
</div>
