<script>
'use strict';
$(() => {

});
</script>

<div class="enter-id">
  <input type="text"
         id="id"
         value="">
  </input>
  <div class="blurb">
    to access any group or individual exercise
    enter its six character ID
  </div>

</div>
