<script>
'use strict';
$(() => {

  const $idInput = $('input#id');
  const $waitSpinner = $('#wait-spinner');
  const $nextButton = $('.next.button');
  let id = $idInput.val();
  let idType = undefined;

  const addEnableDisable = ($element) => {
    $element.isDisabled = () => $element.attr('disabled');
    $element.disable = () => $element.attr('disabled',  true);
    $element.enable  = () => $element.attr('disabled', false);
  };

  addEnableDisable($idInput);
  addEnableDisable($nextButton);

  const setupNextButton = () => {
    id = $idInput.val();
    if (id.length < 6) {
      $idInput.removeClass('invalid');
      $nextButton.disable();
      return;
    }
    else if (id.length > 6) {
      $idInput.addClass('invalid');
      $nextButton.disable();
      return;
    }
    $waitSpinner.fadeIn('fast', () => {
      const route = `/home/id_type?id=${encodeURIComponent(id)}`;
      $.get(route, (response) => {
        idType = response.id_type;
        $waitSpinner.fadeOut('fast', () => {
          if (idType) {
            $idInput.removeClass('invalid');
            $nextButton.enable();
          } else {
            $idInput.addClass('invalid');
            $nextButton.disable();
          }
        });
      });
    });
  };

  const idInputChange = () => {
    if ($idInput.val() === id) {
      return;
    } else {
      setupNextButton();
    }
  };

  $idInput.keyup(() => idInputChange()).focus();

  $nextButton.click(() => {
    if ($nextButton.isDisabled()) { return; }
    const urlId = encodeURIComponent(id);
    if (idType === 'group') {
      window.location = `/home/group?id=${urlId}`;
    } else if (idType === 'individual') {
      window.location = `/home/index?id=${urlId}`;
      window.open(`/kata/edit/${urlId}`);
    }
  });

  setupNextButton();


});
</script>

<% if false %>
<div class="phonetic-id"><%= phonetic(@group_id) %></div>
<% end %>

<div id="enter-page">
  <div class="edged-panel enter-id">
    <div class="title">
      what is the six character ID of the exercise?
    </div>
    <table>
      <tr>
        <td><input type="text" id="id" value="<%= @id %>"></input></td>
        <td><div class="next button" disabled="disabled">next</div></td>
      </tr>
    </table>
    <img src="/images/rotate-cyber-dojo.gif"
         id="wait-spinner"
         style="display:none;">
  </div>
</div>
