<div class="foundation">

  <div>
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html"
       target="_blank">cyberdojo Foundation</a>
    is a Scottish Charitable Incorporated Organisation<br/>
    with four trustees
  </div>

  <table>
    <tr>
      <td>
        <a href="https://jonjagger.blogspot.co.uk"
           target="_blank">
          <img class="trustee" src="/images/trustees/JonJagger.jpg">
        </a>
      </td>
      <td>
        <a href="https://www.praqma.com"
           target="_blank">
          <img class="trustee" src="/images/trustees/MikeLong.jpg">
        </a>
      </td>
      <td>
        <a href="https://olvemaudal.com"
           target="_blank">
          <img class="trustee" src="/images/trustees/OlveMaudal.jpg">
        </a>
      </td>
      <td>
        <a href="https://cucumber.io"
           target="_blank">
          <img class="trustee" src="/images/trustees/SebRose.jpg">
        </a>
      </td>
    </tr>
    <tr>
      <td class="bio">
        <a href="https://jonjagger.blogspot.co.uk"
           target="_blank">Jon Jagger</a>
        is a software consultant based in England
      </td>
      <td class="bio">
        Mike Long is a partner at Praqma in Norway
      </td>
      <td class="bio">
        <a href="https://olvemaudal.com"
           target="_blank">Olve Maudal</a>
        is a software guru at Equinor in Norway
      </td>
      <td class="bio">
        Seb Rose is an associate with Cucumber.io based in Scotland
      </td>
    </tr>
  </table>

  <div>
    cyber-dojo operations are generously supported by<br/>
    <a href="https://www.praqma.com" target="_blank">Praqma</a>
    and
    <a href="https://cucumber.io" target="_blank">Cucumber Limited</a>
    and
    CodeEntropy
  </div>

</div>
