<script>
'use strict';
$(() => {

  const kataId = "<%= @manifest['id'] %>";

  $('.ok.button').click(() => {
    window.open(`/kata/edit/${kataId}`);
    window.location.href = '/home/index';
  });

});
</script>

<%
  individual_id = @manifest['id']
  exercise_name = @manifest['display_name']
  if @manifest.has_key?('exercise')
    exercise_name += ", " + @manifest['exercise']
  end
%>

<div id="individual-page">

  i'm on my own
  <br/>

  <div class="individual-id"><%= individual_id %></div>

  <div class="phonetic-id"><%= phonetic(individual_id) %></div>

  <%= exercise_name %>
  <br/>

  <div class="ok button">ok</div>

</div>
