<script>
'use strict';
$(() => {

  const kataId = "<%= @manifest['id'] %>";

  $('.ok.button').click(() => {
    window.open(`/kata/edit/${kataId}`);
    window.location.href = '/home/index';
  });

});
</script>

<div id="individual-page">

  i'm on my own
  <br/>
  
  <div class="individual-id"><%= @manifest['id'] %></div>

  <%
    exercise_name = @manifest['display_name']
    if @manifest.has_key?('exercise')
      exercise_name += ", " + @manifest['exercise']
    end
  %>
  <%= exercise_name %>
  <br/>

  <div class="ok button">ok</div>

</div>
