<script>
'use strict';
$(() => {

  $('input#group').prop('checked', true);

});
</script>

<div class="title">how many of you are there?</div>
<input type="radio" id="group" name="count" value="group">
<label for="group">we're in a group</label>
<br/>
<input type="radio" id="individual" name="count" value="individual">
<label for="individual">i'm on my own</label>
