<script>
'use strict';
$(() => {

  cd.nextButton = $('.next.button');
  cd.nextButton.enable = () => cd.nextButton.attr('disabled', false);
  cd.nextButton.disable = () => cd.nextButton.attr('disabled', true);
  cd.nextButton.isDisabled = () => cd.nextButton.attr('disabled');

  cd.nextButton.click(() => {
    if (cd.nextButton.isDisabled()) { return; }
    const howMany = $('#group').is(':checked') ? 'group' : 'kata';
    window.location = `/home/create_what_kind?how_many=${howMany}`;
  });

});
</script>

<div class="next button" disabled="disabled">
  next
</div>
