<script>
'use strict';
$(() => {

  cd.okButton = $('.ok.button');
  cd.okButton.enable = () => cd.okButton.attr('disabled', false);
  cd.okButton.disable = () => cd.okButton.attr('disabled', true);
  cd.okButton.disable();

  cd.okButton.click(() => {
    const howMany = $('#group').is(':checked') ? 'group' : 'kata';
    window.location = `/home/create_what_kind?how_many=${howMany}`;
  });

});
</script>

<div class="ok button">
  ok
</div>
