<%
  group_id = @manifest['id']
  exercise_name = @manifest['display_name']
  if @manifest.has_key?('exercise')
    exercise_name += ", " + @manifest['exercise']
  end
%>

<%= erb :'background' %>

<div id="full-page">
  <div class="box">

    <table>
      <tr>
        <td>
          <img src="/avatars/image/all" class="avatars"/>
        </td>
        <td>
          Sorry. Full!<br/>
          <div class="group-id"><%= group_id %></div>
          <%= exercise_name %><br/>
          TODO: [OK] button (back to /home/index?id=group_id)
        </td>
      </tr>
    </table>

  </div>
</div>
