<script>
'use strict';
$(() => {

  const groupId = "<%= @group_id %>";

  $('.ok.button').click(() => {
    window.location = `/home/index?id=${groupId}`;
  });

});
</script>

<div id="full-page">
  <div class="box">

    <table class="edged-panel">
      <tr>
        <td>
          <img src="/avatars/image/all" class="avatars"/>
        </td>
        <td>
          <div class="group-id"><%= @group_id %></div>
          <div class="blurb">Sorry. It's full!</div>
          <div class="ok button">ok</div>
        </td>
      </tr>
    </table>

  </div>
</div>
