<script>
'use strict';
$(() => {

  const groupId = "<%= @manifest['id'] %>";

  $('.ok.button').click(() => {
    window.location = `/home/index?id=${groupId}`;
  });

});
</script>

<% group_id = @manifest['id'] %>

<div id="full-page">
  <div class="box">

    <table class="panel">
      <tr>
        <td>
          <img src="/avatars/image/all" class="avatars"/>
        </td>
        <td>
          <div class="group-id"><%= group_id %></div>
          <div class="blurb">Sorry. It's full!</div>
          <div class="ok button">ok</div>
        </td>
      </tr>
    </table>

  </div>
</div>
