<script>
'use strict';
$(() => {

  const groupId = "<%= @manifest['id'] %>";

  $('.join.button').click(() => {
    const json = JSON.stringify({"id":groupId});
    $.post(`/home/join.json`, json, (response) => {
      window.location = response.route;
    });
  });

  $('.rejoin.button').click(() => {
    window.location = `/home/rejoin?id=${encodeURIComponent(groupId)}`;
  });

  $('.dashboard.button').click(() => {
    window.location = `/dashboard/show/${encodeURIComponent(groupId)}`;
  });

});
</script>

<% group_id = @manifest['id'] %>

<%= erb :'background' %>

<div id="group-page">
  <div class="box">

    <table class="panel">
      <tr>
        <td>
          <img src="/avatars/image/all" class="avatars"/>
        </td>
        <td>
          <div class="group-id"><%= group_id %></div>
          <div class="phonetic-id"><%= phonetic(group_id) %></div>
          <div class="join button">join the exercise</div>
          <div class="dashboard button">open a dashboard</div>
          <div class="rejoin button">rejoin the exercise</div>
        </td>
      </tr>
    </table>

  </div>
</div>
