<script>
'use strict';
$(() => {

  const groupId = "<%= @group_id %>";

  $('.enter.button').click(() => {
    const json = JSON.stringify({"id":groupId});
    $.post(`/home/enter.json`, json, (response) => {
      window.location = response.route;
    });
  });

  $('.reenter.button').click(() => {
    window.location = `/home/reenter?id=${encodeURIComponent(groupId)}`;
  });

  $('.dashboard.button').click(() => {
    window.location = `/dashboard/show/${encodeURIComponent(groupId)}`;
  });

});
</script>

<div id="group-page">
  <table class="edged-panel">
    <tr>
      <td>
        <img src="/avatars/image/all" class="avatars"/>
      </td>
      <td>
        <div class="group-id"><%= @group_id %></div>
        <div class="phonetic-id"><%= phonetic(@group_id) %></div>
        <div class="enter button">enter the exercise</div>
        <div class="dashboard button">open a dashboard</div>
        <div class="reenter button">re-enter the exercise</div>
      </td>
    </tr>
  </table>
</div>
