<script>
'use strict';
$(() => {

  const groupId = "<%= @manifest['id'] %>";

  $('.join.button').click(() => {
    const json = JSON.stringify({"id":groupId});
    $.post(`/home/join.json`, json, (response) => {
      window.location = response.route;
    });
  });

  $('.rejoin.button').click(() => {
    window.location = `/home/rejoin?id=${encodeURIComponent(groupId)}`;
  });

  $('.dashboard.button').click(() => {
    window.location = `/dashboard/show/${encodeURIComponent(groupId)}`;
  });

});
</script>

<div id="group-page">

  <div class="group-id"><%= @manifest['id'] %></div>

  <img src="/avatars/image/all" class="avatars"/><br/>

  Exercise:
  <%
    exercise_name = @manifest['display_name']
    if @manifest.has_key?('exercise')
      exercise_name += ", " + @manifest['exercise']
    end
  %>
  <%= exercise_name %><br/>

  Image: <%= @manifest['image_name'] %><br/>

  <div class="join button">join it</div>
  <div class="rejoin button">rejoin it</div>
  <div class="dashboard button">open it's dashboard</div>
</div>
