<script>
'use strict';
$(() => {

  const groupId = "<%= @manifest['id'] %>";

  $('.join.button').click(() => {
    const json = JSON.stringify({"id":groupId});
    $.post(`/home/join.json`, json, (response) => {
      window.location = response.route;
    });
  });

  $('.rejoin.button').click(() => {
    window.location = `/home/rejoin?id=${encodeURIComponent(groupId)}`;
  });

  $('.dashboard.button').click(() => {
    window.location = `/dashboard/show/${encodeURIComponent(groupId)}`;
  });

});
</script>

<div id="group-page">
  <img src="/avatars/image/all" class="avatars"/><br/>
  Group <%= @manifest['id'] %><br/>
  <div class="join button">join</div>
  <div class="rejoin button">rejoin</div>
  <div class="dashboard button">dashboard</div>
</div>
