<script>
'use strict';
$(() => {

  $('.create.button').click(() => window.location = '/home/create');
  $('.created.button').click(() => window.location = '/home/join');

});
</script>

<div class="edged-panel buttons">
  <div class="create button">
    create a new exercise
  </div>
  <div class="created button">
    use created exercise
  </div>
</div>
