<script>
'use strict';
$(() => {

  $('.create.button').click(() => window.location = '/home/create_how_many');
  $('.enter.button').click(() => window.location = '/home/enter');

});
</script>

<div class="edged-panel buttons">
  <div class="create button">
    create a new exercise
  </div>
  <div class="enter button">
     enter an existing exercise
  </div>
</div>
