<script>
'use strict';
$(() => {

  $('.regular.button').click(() => choose('group_exercise_choose', 'kata_exercise_choose'));
  $( '.custom.button').click(() => choose('group_custom_choose', 'kata_custom_choose'));

  const choose = (groupPath, kataPath) => {
    const path = $('#group').is(':checked') ? groupPath : kataPath;
    window.location = `/creator/${path}`;
  }

  $('input#group').prop('checked', true);

});
</script>

<div class="create panel">
  <div class="group-or-individual">
    <input type="radio" id="group" name="count" value="group">
    <label for="group">we're in a group</label>
    <input type="radio" id="individual" name="count" value="individual">
    <label for="individual">i'm on my own</label>
  </div>
  <div class="regular button">
    create&nbsp;a&nbsp;new&nbsp;exercise
  </div>
  <div class="custom button">
    create&nbsp;a&nbsp;new&nbsp;custom&nbsp;exercise
  </div>
</div>
