<script>
'use strict';
$(() => {

  const idInput = $('input#id');
  const waitSpinner = $('#wait-spinner');
  const okButton = $('.ok.button');

  const idInputChange = () => {
    const id = idInput.val();
    idInput.removeClass('invalid');
    if (id.length > 6) {
      idInput.addClass('invalid');
    }
    else if (id.length === 6) {
      idInput.prop('disabled', true);

      waitSpinner.fadeIn('slow', () => {
        $.getJSON(`/home/id_valid?id=${encodeURIComponent(id)}`, (response) => {
          const idValid = response['id_valid?'];
          okButton.prop('disabled', !idValid);
         })
         .always(() => {
            waitSpinner.fadeOut('slow');
            idInput.prop('disabled', false);
          });
      });
    }
  };

  okButton.click(() => {
    alert(`ok clicked disabled==${okButton.prop('disabled')}`);
  });

  idInput.keyup(() => idInputChange())
         .focus();

  idInputChange();

});
</script>

<div class="enter-id">
  <div class="blurb">
    to access any group or individual exercise
    enter its six character ID
  </div>
  <input type="text"
         id="id"
         value="<%= @id %>">
  </input>
  <div class="ok button">ok</div>
  <img src="/images/rotate-cyber-dojo.gif"
       id="wait-spinner"
       style="display:none;">
</div>
