<script>
'use strict';
$(() => {

  const $idInput = $('input#id');
  const $waitSpinner = $('#wait-spinner');
  const $okButton = $('.ok.button');
  let id = $idInput.val();
  let idType = undefined;

  const addEnableDisable = ($element) => {
    $element.disable = () => $element.attr('disabled',  true);
    $element.enable  = () => $element.attr('disabled', false);
  };

  addEnableDisable($idInput);
  addEnableDisable($okButton);

  const setupOkButton = () => {
    id = $idInput.val();
    if (id.length < 6) {
      $idInput.removeClass('invalid');
      $okButton.disable();
      return;
    }
    else if (id.length > 6) {
      $idInput.addClass('invalid');
      $okButton.disable();
      return;
    }
    $waitSpinner.fadeIn('fast', () => {
      const route = `/home/id_type?id=${encodeURIComponent(id)}`;
      $.get(route, (response) => {
        idType = response.id_type;
        $waitSpinner.fadeOut('fast', () => {
          if (idType) {
            $idInput.removeClass('invalid');
            $okButton.enable();
          } else {
            $idInput.addClass('invalid');
            $okButton.disable();
          }
        });
      });
    });
  };

  const idInputChange = () => {
    if ($idInput.val() === id) {
      return;
    } else {
      setupOkButton();
    }
  };

  $idInput.keyup(() => idInputChange()).focus();

  $okButton.click(() => {
    const urlId = encodeURIComponent(id);
    if (idType === 'group') {
      window.location = `/home/group?id=${urlId}`;
    } else if (idType === 'individual') {
      window.location = `/home/index?id=${urlId}`;
      window.open(`/kata/edit/${urlId}`);
    }
  });

  setupOkButton();

});
</script>

<div class="enter-id panel">
  <div class="blurb">
    to access any group or individual exercise enter its six character ID
  </div>
  <table>
    <tr>
      <td><input type="text" id="id" value="<%= @id %>"></input></td>
      <td><div class="ok button">ok</div></td>
    </tr>
  </table>
  <img src="/images/rotate-cyber-dojo.gif"
       id="wait-spinner"
       style="display:none;">
</div>
