<script>
'use strict';
$(() => {

  const idInput = $('input#id');
  const waitSpinner = $('#wait-spinner');

  const idInputChange = () => {
    const id = idInput.val();
    idInput.removeClass('invalid');
    if (id.length > 6) {
      idInput.addClass('invalid');
    }
    else if (id.length === 6) {
      idInput.prop('disabled', true);
      waitSpinner.fadeIn('slow', () => {
        const route = `/home/id_info?id=${encodeURIComponent(id)}`;
        $.get(route, (response) => {
           if (response.id_info) {
             window.location.href = response.id_info;
           } else {
             idInput.addClass('invalid');
           }
         })
         .always(() => {
            waitSpinner.fadeOut('slow');
            idInput.prop('disabled', false);
          });
      });
    }
  };

  idInput.keyup(() => idInputChange())
         .focus();

  idInputChange();

});
</script>

<div class="enter-id">
  <div class="blurb">
    to access any group or individual exercise
    enter its six character ID
  </div>
  <input type="text"
         id="id"
         value="<%= @id %>">
  </input>
  <img src="/images/rotate-cyber-dojo.gif"
       id="wait-spinner"
       style="display:none;">
</div>
