<script>
'use strict';
$(() => {

  const idInput = $('input#id');
  const waitSpinner = $('#wait-spinner');
  const okButton = $('.ok.button');

  const idInputChange = () => {
    const id = idInput.val();
    idInput.removeClass('invalid');
    if (id.length > 6) {
      idInput.addClass('invalid');
    }
    else if (id.length === 6) {
      idInput.prop('disabled', true);

      waitSpinner.fadeIn('slow', () => {
        $.getJSON(`/home/id_change?id=${id}`, (idValid) => {
            okButton.prop('disabled', !idValid);
         })
         .always(() => {
            waitSpinner.fadeOut('slow');
            idInput.prop('disabled', false);
          });
      });
    }
  };

  okButton.click(() => {
    alert(`ok clicked disabled==${okButton.prop('disabled')}`);
  });

  const onlyBase58 = (element) => {
    // Only accept base58 input.
    // Also accepts a Ctrl-V paste event which
    // will allow any chars to be entered.
    element.keypress((e) => {
      const str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
      if (e.which == 0 || e.charCode == 0) { // special key
        return true;
      }
      else if (str.match(/IOio/)) {
        return false
      }
      else if (str.match(/[a-zA-Z0-9]/)) {
        return true;
      }
      else {
        e.preventDefault();
        return false;
      }
    });
  };

  onlyBase58(idInput);
  idInput.keyup(() => idInputChange())
         .focus();

  idInputChange();

});
</script>

<div class="enter-id">
  <div class="blurb">
    to access any group or individual exercise
    enter its six character ID
  </div>
  <input type="text"
         id="id"
         value="<%= @id %>">
  </input>
  <div class="ok button">ok</div>
  <img src="/images/rotate-cyber-dojo.gif"
       id="wait-spinner"
       style="display:none;">
</div>
