<script>
'use strict';
$(() => {

  const $idInput = $('input#id');
  const $waitSpinner = $('#wait-spinner');
  const $okButton = $('.ok.button');
  let idType = 'nil';

  $idInput.disable = () => $idInput.attr('disabled',  true);
  $idInput.enable  = () => $idInput.attr('disabled', false);

  $okButton.disable = () => $okButton.attr('disabled',  true);
  $okButton.enable  = () => $okButton.attr('disabled', false);

  const idInputChange = () => {
    const id = $idInput.val();
    if (id.length < 6) {
      $idInput.removeClass('invalid');
      $okButton.disable();
    }
    else if (id.length > 6) {
      $idInput.addClass('invalid');
      $okButton.disable();
    }
    else if (id.length === 6) {
      $idInput.disable();
      $waitSpinner.fadeIn('slow', () => {
        const route = `/home/id_type?id=${encodeURIComponent(id)}`;
        $.get(route, (response) => {
          idType = response.id_type;
          $waitSpinner.fadeOut('slow');
          if (idType) {
            $idInput.removeClass('invalid');
            $okButton.enable();
          } else {
            $idInput.addClass('invalid');
            $okButton.disable();
          }
          $idInput.enable();
        });
      });
    }
  };

  $idInput.keyup(() => idInputChange()).focus();

  $okButton.click(() => {
    const id = $idInput.val();
    window.location.href = `/home/${idType}?id=${encodeURIComponent(id)}`;
  });

  idInputChange();

});
</script>

<div class="enter-id">
  <div class="blurb">
    to access any group or individual exercise
    enter its six character ID
  </div>
  <input type="text"
         id="id"
         value="<%= @id %>">
  </input>
  <div class="ok button">
    ok
  </div>
  <img src="/images/rotate-cyber-dojo.gif"
       id="wait-spinner"
       style="display:none;">
</div>
