<script>
'use strict';
$(() => {

});
</script>

<div class="enter-id">

  <div class="blurb">
    to access any group or individual exercise
    enter its six character ID
  </div>

  <input type="text"
         id="id"
         value="<%= @id %>">
  </input>

</div>
