<script>
'use strict';
$(() => {

  const $individual = $('.individual');

  $('.regular.button', $individual).click(() => create('kata_exercise_choose'));
  $('.custom.button',  $individual).click(() => create('kata_custom_choose'));

  const create = (url) => window.location = `/creator/${url}`;

});
</script>

<div class="individual">
  <div class="blurb">
    i'm&nbsp;on&nbsp;my&nbsp;own
  </div>
  <div class="regular button">
    create&nbsp;my&nbsp;new&nbsp;exercise
  </div>
  <div class="custom button">
    create&nbsp;my&nbsp;new&nbsp;custom&nbsp;exercise
  </div>
</div>
