<div class="license">

  <div class="question">
    Is <code>https://cyber-dojo.org</code> free to use?
  </div>
  <div class="answer">
    Commercial use of <code>https://cyber-dojo.org</code> requires a licence.<br/>
    Non-commercial use is free, but <b>please donate</b>.
  </div>
  <div class="divider"></div>

  <div class="question">
    What happens to the licence fees and donations?
  </div>
  <div class="answer">
    100% goes to
    <a href="https://blog.cyber-dojo.org/2020/06/supporting-turing-trust.html"
       target="_blank">helping children learn about software</a>.
  </div>
  <div class="divider"></div>

  <div class="question">
    So cyber-dojo is run as a charity?
  </div>
  <div class="answer">
    Yes.
       <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html"
          target="_blank">cyberdojo Foundation</a>
    is a Scottish Charitable Incorporated Organisation.<br/>
  </div>
  <div class="divider"></div>

  <div class="question">
    How much is a licence?
  </div>
  <div class="answer">
    A licence costs whatever you feel is appropriate.
  </div>
  <div class="divider"></div>

  <div class="question">
    What do people typically pay?
  </div>
  <div class="answer">
    Large companies/organizations typically pay £1000-£750.<br/>
    Smaller teams/individuals typically pay £250-£50.
  </div>
  <div class="divider"></div>

  <div class="question">
    Do I have to buy a licence every year?
  </div>
  <div class="answer">
    You can pay a larger amount once.<br/>
    You can pay a smaller amount at regular intervals.<br/>
    It's up to you!
  </div>
  <div class="divider"></div>

  <div class="question">
    How do I get a licence?
  </div>
  <div class="answer">
    Please email
    <a href="mailto:license@cyber-dojo.org?subject=I'd like to buy a license please&body=...">license@cyber-dojo.org</a>
  </div>
  <div class="divider"></div>

  <div class="question">
    What about operational costs (such as hosting https://cyber-dojo.org)?
  </div>
  <div class="answer">
    They are all generously paid by<br/>
    <a href="https://www.praqma.com" target="_blank">Praqma</a>
    and
    <a href="https://cucumber.io" target="_blank">Cucumber Limited</a>
    and
    CodeEntropy.
  </div>

</div>
