<div class="license">

  <div>
    Commercial use of cyber-dojo.org requires a licence.
    A license is perpetual and costs whatever you feel is appropriate.
    100% of license fees and donations
    <a href="https://blog.cyber-dojo.org/2020/06/supporting-turing-trust.html"
       target="_blank">helps children learn about software</a>.
    Large companies/organizations typically pay £500-£1000, smaller teams/individuals, £50-£200.
    Non-commercial use is free but
  </div>
  <%= erb :'home/please_donate' %>
  <div>
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html"
       target="_blank">cyberdojo Foundation</a>
    is a Scottish Charitable Incorporated Organisation<br/>
    with <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html"
            target="_blank">four trustees</a>.
    cyber-dojo operations are generously supported by<br/>
    <a href="https://www.praqma.com" target="_blank">Praqma</a>
    and
    <a href="https://cucumber.io" target="_blank">Cucumber Limited</a>
    and
    CodeEntropy
  </div>

</div>
