<script>
'use strict';
$(() => {

  $('input#standard').prop('checked', true);

});
</script>

<div class="title">what kind of exercise?</div>

<input type="radio" id="standard" name="kind" value="standard">
<label for="standard">standard (empty, 2 steps)</label>
<br/>
<input type="radio" id="custom" name="kind" value="custom">
<label for="custom">custom (not empty, 1 step)</label>
