<script>
'use strict';
$(() => {

  const getParam = (name) => {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
  };

  cd.nextButton = $('.next.button');
  cd.nextButton.enable = () => cd.nextButton.attr('disabled', false);
  cd.nextButton.disable = () => cd.nextButton.attr('disabled', true);
  cd.nextButton.isDisabled = () => cd.nextButton.attr('disabled');

  cd.nextButton.click(() => {
    if (cd.nextButton.isDisabled()) { return; }
    const howMany = getParam('how_many');
    const whatKind = $('#custom').is(':checked') ? 'custom' : 'exercise';
    const path = `${howMany}_${whatKind}_choose`;
    window.location = `/creator/${path}`;
  });

});
</script>

<div class="next button" disabled="disabled">
  next
</div>
