<script>
'use strict';
$(() => {

  const getParam = (name) => {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
  };

  cd.okButton = $('.ok.button');
  cd.okButton.enable = () => cd.okButton.attr('disabled', false);
  cd.okButton.disable = () => cd.okButton.attr('disabled', true);
  cd.okButton.disable();

  cd.okButton.click(() => {
    const howMany = getParam('how_many');
    const whatKind = $('#custom').is(':checked') ? 'custom' : 'exercise';
    const path = `${howMany}_${whatKind}_choose`;
    window.location = `/creator/${path}`;
  });

});
</script>

<div class="ok button">
  ok
</div>
